vmtemplate:
    debian:
        enabled: true
        id: 9001
        name: Debian
        root_password: HugeAndLongPassword
        username: debian
        password: HugeAndLongPassword
        # Depending of the format of the disk
        disk_prefix: vd
        cpu: 2
        memory: 1024
        # Only absolute path
        ssh_key: /home/kiko/.ssh/id_ed25519.pub
        disk_size: 8192
        iso:
            url: https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-11.6.0-amd64-netinst.iso
            checksum: sha512:224cd98011b9184e49f858a46096c6ff4894adff8945ce89b194541afdfd93b73b4666b0705234bd4dff42c0a914fdb6037dd0982efb5813e8a553d8e92e6f51
    alpine:
        enabled: false
        vm_id: 9002
        name: Alpine 3
        username: debian
        password: HugeAndLongPassword
        cpu: 2
        memory: 1024
        ssh_key: /home/kiko/.ssh/id_ed25519.pub
        iso:
            url: https://dl-cdn.alpinelinux.org/alpine/v3.17/releases/x86_64/alpine-virt-3.17.1-x86_64.iso
            checksum: sha256:19d22173b53cd169f65db08a966b51f9ef02750a621902d0d784195d7251b83b
hypervisor:
    proxmox:
        node_url: "https://proxmox.example.com:8006/api2/json"
        node: pve
        username: "root@pam"
        password: "HugeAndLongPassword"
        vm_storage: local-zfs
        iso_storage: local
        vm_network: vmbr0
    libvirt:
        pool_dir: ~/.libvirt/pool
        pool_name: cluster
        # Libvirt will use qemu:///system as URI
provisionning:
    debian:
        enabled: true
        cpu: 2
        memory: 1024
        # Only compatible for Debian, Alpine is not yet supported
        kubernetes:
            enabled: true
            nodes: 2