apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/argoproj/argo-cd//manifests/cluster-install?ref=v2.13.2
- cmp-plugin.yaml
- vault-credentials.yaml

patchesStrategicMerge:
- argocd-repo-server.yaml
- config.yaml
- argocd-cmd-params.yaml

