apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/argoproj/argo-cd//manifests/cluster-install?ref=v3.3.2
  - cmp-plugin.yaml

patchesStrategicMerge:
  - argocd-repo-server.yaml
  - config.yaml
  - argocd-cmd-params.yaml
